body {
	font-family: 'Anaheim', sans-serif;
}

a {
	color:#5d755e;
}

a:hover {
	color:#466147;
	text-decoration: none;
	border-bottom: 1px dotted #466147;
}

header {
	background-color: #5d755e;
	margin-bottom: 40px;
}

header h1 {
	text-align: center;
	padding: 30px 0;
	font-family: 'Acme', sans-serif;
	font-size: 5em;
}

header h1 a {
	color: #FFF;
}

header h1 a:hover {
	border: none;
	color: #DDD;
}

header h1 #cursor {
	visibility: visible;
}

ul.languages {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 1.5em;
	
	-moz-column-count:2;
	-webkit-column-count:2;
	column-count:2;
	-moz-column-rule:1px dotted #DDD;
	-webkit-column-rule:1px dotted #DDD;
	column-rule:1px dotted #DDD;
}

ul.languages li {
	padding: 0;
	margin: 0; 
	text-align: center;
}

ul.languages li a {
	
}

ul.languages li a:hover {
	text-decoration: none;
}

footer {
	margin: 50px 0 40px 0;
	padding-top: 20px;
	border-top: 1px solid #DDD;
}

div.contribute {
	text-align: right;
}

.nb_styles {
	font-size: 0.7em;
	color: #888;
}

article {
	font-size: 1.5em;
}

article h1 {
	color: #5d755e;
	padding: 10px 0;
	text-align: center;
	margin-bottom: 30px;
	font-size: 5em;
}

article h2 {
	margin: 30px 0 10px 0;
}

article ul {
	padding: 30px 30px 30px 60px;
	margin: 20px 0 30px 0;
	background-color: #F5F5F5;
}

article p {
	margin-bottom: 20px;
}

article p.meta {
	font-style: italic;
	color: #AAA;
	text-align: right;
}