<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/css/syntax.css">
        <link rel="stylesheet" href="/css/main.css">
        
        <script src="/js/custom.js" charset="utf-8"></script>
        
        <!-- Webfonts -->
        <link href='http://fonts.googleapis.com/css?family=Acme|Anaheim' rel='stylesheet' type='text/css'>
    </head>
    <body>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<header>
						<h1><a href="/">{{ site.name }}<span id="cursor">_</span></a></h1>
					</header>
				
					{{ content }}
					
					<footer>
						<div class="row">
							<div class="col-md-6">
								Created by <a href="http://twitter.com/adhumi">@adhumi</a><br />
								All languages descriptions comes from Wikipedia.
							</div>
							<div class="col-md-6 contribute">
								<a href="https://github.com/codingstyles" class="github">Contribute on Github</a>
							</div>
						</div>
					</footer>
				</div>
			</div>
        </div>


         

    </body>
</html>
